@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", "Poppins";

}



body {
    font-size: 14px;
}

.ant-btn-primary {
    @apply bg-purple-600
}

@layer base {

    input:focus,
    textarea:focus,
    select:focus {
        @apply outline-none
    }
}

@layer utilities {
    .table-form {
        @apply table
    }

    .input-group {
        @apply table-row py-3
    }

    .input-group>.input-content {
        @apply table-cell py-2
    }

    .input-group>.input-label {
        @apply table-cell py-2 pr-4 w-52 text-right align-middle
    }

    .input-group input,
    .input-group select,
    .input-group textarea {
        @apply bg-primary-700 py-3 px-4 rounded-3xl w-full
    }
}